@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This stabase is used by Rock University to manage the students that we have in the university.</p>
<p>We are able to add,edit, and detel students from the database.</p>
<p>A student record can also be searched using this database.</p>
<br />
<p>We hope that this database suits your adminsitrator needs to manage the students.</p>